<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{#<form action="/xxx" method="post" enctype="multipart/form-data">#}
{#    <label for="uname"> 用户名</label>#}
{#    <input  id="uname" type="text" name="username">#}
{#    <label for="password"></label>#}
{#    <input id="password" type="password" name="password">#}
{#    <input type="checkbox" name="1" value="1">#}
{#    <input type="checkbox" name="1" value="2">#}
{#    <input type="checkbox" name="1" value="3">#}
{#    <input type="radio" name="sex" value="1">#}
{#    <input type="radio" name="sex" value="2">#}
{#    <input type="file" multiple name="file">#}
{#    <input type="email" name="email">#}
{#    <input type="datetime-local">#}
{#    <textarea name="" id="" cols="30" rows="10"></textarea>#}
{#    <select name="" id="">#}
{#        <option value="">2018-22-56</option>#}
{#        <option value="">2018-22-78</option>#}
{#        <option value="">2018-22-90</option>#}
{#    </select>#}
{#    <input type="button" name="tijiao ">#}
{#    <input type="reset" name="重置"></form>#}
<form action="form01/register01/" method="post">
    {{ user_form }}
    <input type="submit" value="提交">
</form>
</body>
</html>